p {
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    color: purple;
    text-decoration: dashed;    
}
a {
    text-decoration: double;
    
}
a:hover{
  
    text-decoration: none;
    color: tan;
}
.green {
    color: green;
    text-align: left
}
#move:hover{
    text-align: center;
    text-decoration: line-through;
}