p {
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    color: purple;
    text-decoration: dashed;    
}
a {
    text-decoration: double;
    
}
a:hover{
  
    text-decoration: none;
    color: tan;
}
.green {
    color: green;
    text-align: left
}
#move:hover{
    text-align: center;
    text-decoration: line-through;
}
ol:first-child{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: beige;
}
ol:last-child{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    color: aqua;
}

li.clase1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    color: brown;
}